.DS_Store
.vscode/
build/
coverage/
compile_commands.json
.cache/
.clangd/
imgui.ini
main
nn
nn_gui
nn_gui.dSYM/
nn_test_cov
main.dSYM/
*.py
test.bin
train.bin
cnn_checkpoint.bin
dnn_checkpoint.bin
*.dSYM
